.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
line {
  stroke: rgb(200, 200, 200);
}
.domain {
  stroke: rgb(200, 200, 200);
}
#controls {
  margin: 25px;
}
#text {
  margin: 25px;
}
h4 {
  margin: 25px;
}
#graph {
  padding-top: 25px;
  padding-bottom: 25px;
}
#title {
  height: 60px;
  padding-top: 15px;
}
#top-section {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  overflow: hidden;
}
